<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (studentInfo()) {
      <div>
        <h2 data-cy="studentInfoDetailsHeading"><span>Student Info</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ studentInfo()!.id }}</span>
          </dd>
          <dt><span>First Name</span></dt>
          <dd>
            <span>{{ studentInfo()!.firstName }}</span>
          </dd>
          <dt><span>Last Name</span></dt>
          <dd>
            <span>{{ studentInfo()!.lastName }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ studentInfo()!.email }}</span>
          </dd>
          <dt><span>Is Student</span></dt>
          <dd>
            <span>{{ studentInfo()!.isStudent }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ { null: '', ACTIVE: 'ACTIVE', INACTIVE: 'INACTIVE', PENDING: 'PENDING' }[studentInfo()!.status ?? 'null'] }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>
      </div>
    }
  </div>
</div>
